<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.hackademic.parsers</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>4FF4FF41-0D12-4ADC-8581-8F95C39EFFD0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>94FED578-7483-4AA5-B928-9266C4070294</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7E075BA4-EBC6-4EA8-8E1F-CA6D94FCB6E3</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Get Lexicon Data</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5562C80F-F88C-494C-9A4E-3FF288848FA0</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Get Parsing Data</string>
			</dict>
		</array>
		<key>5562C80F-F88C-494C-9A4E-3FF288848FA0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7E642A09-FF8F-4B83-83C7-C5DE7B874D53</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1A9DE486-94AB-49C3-803C-ACB766CB0966</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7E075BA4-EBC6-4EA8-8E1F-CA6D94FCB6E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7E642A09-FF8F-4B83-83C7-C5DE7B874D53</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1A9DE486-94AB-49C3-803C-ACB766CB0966</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>94FED578-7483-4AA5-B928-9266C4070294</key>
		<array/>
		<key>B57F18F8-BD34-4B55-A3BD-1E49AAA6EBCD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC04D787-7D4C-4384-94C7-248CA7C9755A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Stephen Margheim</string>
	<key>description</key>
	<string>Greek and Latin Parsers (v. 1.1.1)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Parsers</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>119</integer>
				<key>hotmod</key>
				<integer>9437184</integer>
				<key>hotstring</key>
				<string>↘</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B57F18F8-BD34-4B55-A3BD-1E49AAA6EBCD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application "Alfred 2" to search "parse " &amp; q
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>AC04D787-7D4C-4384-94C7-248CA7C9755A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python actions.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>94FED578-7483-4AA5-B928-9266C4070294</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python actions.py "{query}" "lexicon"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7E075BA4-EBC6-4EA8-8E1F-CA6D94FCB6E3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>parse</string>
				<key>script</key>
				<string>python parsers.py "{query}"</string>
				<key>title</key>
				<string>Parse Term</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4FF4FF41-0D12-4ADC-8581-8F95C39EFFD0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>Copied to Clipboard!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7E642A09-FF8F-4B83-83C7-C5DE7B874D53</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python actions.py "{query}" "parse"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5562C80F-F88C-494C-9A4E-3FF288848FA0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>1A9DE486-94AB-49C3-803C-ACB766CB0966</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1A9DE486-94AB-49C3-803C-ACB766CB0966</key>
		<dict>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>4FF4FF41-0D12-4ADC-8581-8F95C39EFFD0</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>5562C80F-F88C-494C-9A4E-3FF288848FA0</key>
		<dict>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>7E075BA4-EBC6-4EA8-8E1F-CA6D94FCB6E3</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>7E642A09-FF8F-4B83-83C7-C5DE7B874D53</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>94FED578-7483-4AA5-B928-9266C4070294</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>AC04D787-7D4C-4384-94C7-248CA7C9755A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B57F18F8-BD34-4B55-A3BD-1E49AAA6EBCD</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>hackademic.postach.io</string>
</dict>
</plist>
